* {
  font-family: "Iosevka Nerd Font Mono";
  border: none;
  min-height: 0;
}

window#waybar {
  background-color: #1d2021;
  border-radius: 0;
  color: #928374;
  padding: 2px 12px;
  transition: 0.3s all;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0 1rem;
  color: #fabd2f;
  border: none;
  font-weight: bold;
}

.modules-center {
  padding: 2px;
  font-weight: bold;
}

#custom-icon {
  font-size: 18px;
  padding-right: 0px;
  color: #fabd2f;
}

#window {
  font-weight: bold;
  /* color: #a89984; */
  color: #fabd2f;
  transition: all 0.3s ease;
}

#workspaces {
  font-weight: bold;
  font-size: 11px;
  border: none;
  color: #fabd2f;
}

#workspaces button {
  color: #ebdbb2;
  border-radius: 0;
  transition: 0.2s ease-out;
  border-bottom: 1px solid transparent;
  padding: 2px;
  font-weight: bold;
  font-size: 13px;
}

#workspaces button.urgent {
  border-bottom: 1px solid @blue;
}

#workspaces button.active {
  /* background-color: #d79921; */
  color: #d79921;
}

#tray {
  color: #fbf1c7;
}

#clock {
  transition: all 0.3s ease;
  font-weight: bold;
}

#clock:hover,
#pulseaudio:hover{
  color: #fbf1c7;
}
