* {
  font-family: "CaskaydiaCove Nerd Font";
  border: none;
  min-height: 0;
}

window#waybar {
  background-color: #0a0a0a;
  border-radius: 0;
  color: #928374;
  padding: 2px 12px;
  transition: 0.3s all;
}

.modules-center,
.modules-right {
  padding-right: 4px;
  color: #b3b1b1;
  border: none;
  font-weight: bold;
}

.modules-left {
  color: #b3b1b1;
}
.modules-center {
  padding: 2px;
  font-weight: bold;
}

/* #custom-icon { */
/*   font-size: 18px; */
/*   padding-right: 0px; */
/*   color: #b3b1b1; */
/* } */

#window {
  font-weight: bold;
  color: #b3b1b1;
  transition: all 0.3s ease;
}

#workspaces {
  font-weight: bold;
  font-size: 11px;
  border: none;
  color: #b3b1b1;
}

#workspaces button {
  color: #b3b1b1;
  border-radius: 0;
  transition: 0.2s ease-out;
  border-bottom: 1px solid transparent;
  padding: 2px;
  font-weight: bold;
  font-size: 13px;
}

#workspaces button.urgent {
  border-bottom: 1px solid @blue;
}

#workspaces button.active {
  /* background-color: #d79921; */
  color: #ffb578;
}

#tray {
  color: #fbf1c7;
}

#clock {
  transition: all 0.3s ease;
  font-weight: bold;
}
#cpu:hover,
#memory:hover,
#clock:hover,
#pulseaudio:hover{
  color: #f7c59c;
}
