* {
    border: none;
    /* border-radius: 6px; */
    min-height: 0;
    font-family: "CaskaydiaCove Nerd Font";
    font-weight: 800;
    font-size: 12px;
    padding: 0;
}

window#waybar {
    background: transparent;
    border: none;
}

tooltip {
    background-color:#111111;
    border: 2px solid #AFB0B0;
    color: #fac396;
}

tooltip label {
    color: #fac396;
    padding: 8px;
    margin: 4px;
}

#custom-pomodoro,
#clock,
#tray,
#memory,
#cpu,
#pulseaudio {
    background-color: #0b0a06;
    border: 1px solid #AFB0B0;
    color: #a09885;
    margin: 0 1px 0 0;
    padding: 0px 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

#pulseaudio{
    min-width: 70px; 
}

#clock{
    min-width: 40px; 
}


#custom-notification.dnd-none,
#custom-notification.dnd-notification {
    border-color: #c14a4a;
    color: #c14a4a;
}

#tray {
    border-color: #fabd2f;
}

#workspaces {
    background-color: #0b0a06;
    border: 1px solid #AFB0B0;
    margin: 0 1px;
}

#workspaces button {
    all: initial;
    min-width: 15px;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 2px;
    color: #a09885;
    transition: 0.2s all;
}

#workspaces button.focused,
#workspaces button.active {
    color: #f5f3f0;
}

#workspaces button.urgent {
    background-color: #3c3836;
}

#pulseaudio.muted {
    color: #c14a4a;
    border-color: #c14a4a;
}

#battery.critical {
    color: #c14a4a;
}

#battery.warning {
    color: #fabd2f;
}

#idle_inhibitor.activated {
    color: #fabd2f;
    border-color: #fabd2f;
}

#submap,
#mode {
    background-color: #cc241d;
    border: 2px solid #fb4934;
    color: #ebdbb2;
    margin: 0 3px 0 0;
    padding: 2px 8px;
}

#power-profiles-daemon.performance {
    color: #cc241d;
    border-color: #cc241d;
}

#power-profiles-daemon.balanced {
    color: #8ec07c;
}

#power-profiles-daemon.power-saver {
    color: #b8bb26;
    border-color: #b8bb26;
}

separator {
    margin: 6px 0;
    background-color: #665c54;
}
