* {
  border: none;
  box-shadow: none;
  outline: none;
}

window {
  font-size: 16px;
  font-family: "CaskaydiaCove Nerd Font";
  background-color: #282828;
  opacity: 0.90;
  border: 1px solid #928374;
  border-radius: 25px;
}

#outer-box {
  margin: 10px 10px 20px 10px;
  background-color: #282828;
  opacity: 0.90;
}

#inner-box {
  margin: 10px;
  background-color: #282828;
  opacity: 0.90;
}

#entry {
  padding: 5px 10px;
  border-radius: 20px;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: #ebdbb2;
}

#entry:selected {
  background-color: #1d2021;
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
}

#input {
  background-color: #1d2021;
  margin: 5px;
  color: #ebdbb2;
  padding: 5px;
  border-radius: 22px;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
  border: none;
}
